
/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  height: 70px;
  transition: all 0.5s;
  transition: all 0.5s;
  padding: 10px 0;
  background: #fff;
  z-index: 997;
}

#header.header-scrolled {
  box-shadow: 0px 0px 20px 0px rgb(0, 0, 0);
  
}

#header .logo h1 {
  display: inline-block;
  font-size: 25px;
  font-weight: 00;
  margin: 0;
  padding: 10px 0;
  line-height: 1;
  font-weight: 400;
  letter-spacing: 3px;
  text-transform: uppercase;
}

#header .logo  a{
  display: inline-block;
  font-size: 35px;
  color: #303c4e;
  font-weight: 900;
  text-decoration: none;
}

#header .logo img {
  padding: 0;
  margin: 0;
  max-height: 40px;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Desktop Navigation */
.nav-menu, .nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu > ul > li {
  position: relative;
  white-space: nowrap;
  float: left;
}

.nav-menu a {
  display: block;
  position: relative;
  color: #5c768d;
  padding: 12px 15px;
  transition: 0.3s;
  font-size: 19px;
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
}

.search-icon{
  width: 30px;
  height: 30px;
  background-color: #303c4e;
  text-align: center;
  line-height: 30px !important;
  color: #fff;
  font-size: 15px;
  cursor: pointer;
  border-radius: 10%;
  transition: .3s linear;
  -webkit-border-radius: 10%;
  -moz-border-radius: 10%;
  -ms-border-radius: 10%;
  -o-border-radius: 10%;
}

.search-icon:hover{
  border-radius: 30%;
  color: #303c4e;
  background-color: #7fdbbb;
}

.search-screen{
  position: fixed;
  width: 100%;
  height: 0;
  background-color: #000000b9;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  overflow: hidden;
  transition: .3s linear .3s;
}

.close-icon{
  position: absolute;
  top: 40px;
  right: 40px;
  color: #fff;
  font-size: 30px;
  cursor: pointer;
  opacity: 0;
}

.search-box{
  width: 90%;
  max-width: 600px;
  height: 60px;
  background: none;
  border: none;
  outline: none;
  color: #fff;
  font-size: 50px;
  font-weight: 700;
  text-transform: uppercase;
  opacity: 0;
}

.search-screen.active{
  transition-delay: 0s;
  height: 100vh;
}

.search-screen.active .search-box,
.search-screen.active .close-icon{
  transition: .2s linear .4s;
  opacity: 1;
}
.search-screen.active .search-box{
border-bottom: 2px solid;
}
.nav-menu a:hover, .nav-menu .active > a, .nav-menu li:hover > a {
  color: #7fdbbb;
  text-decoration: none;

}

.nav-menu .drop-down ul {
  display: block;
  position: absolute;
  left: 0;
  top: 100%;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  padding: 10px 0;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: ease all 0.3s;
}

.nav-menu .drop-down:hover > ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.nav-menu .drop-down li {
  min-width: 180px;
  position: relative;
}

.nav-menu .drop-down ul a {
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 500;
  text-transform: none;
  color: #303c4e;
}

.nav-menu .drop-down ul a:hover, .nav-menu .drop-down ul .active > a, .nav-menu .drop-down ul li:hover > a {
  color: #457463;
}

.nav-menu .drop-down > a:after {
  content: "\ea99";
  font-family: IcoFont;
  padding-left: 5px;
}

.nav-menu .drop-down .drop-down ul {
  top: 0;
  left: 100%;
}

.nav-menu .drop-down .drop-down:hover > ul {
  opacity: 1;
  top: 0;
}

.nav-menu .drop-down .drop-down > a {
  padding-right: 35px;
}

.nav-menu .drop-down .drop-down > a:after {
  content: "\eaa0";
  font-family: IcoFont;
  position: absolute;
  right: 15px;
}

@media (max-width: 1366px) {
  .nav-menu .drop-down .drop-down ul {
    left: -90%;
  }
  .nav-menu .drop-down .drop-down:hover > ul {
    left: -100%;
  }
  .nav-menu .drop-down .drop-down > a:after {
    content: "\ea9d";
  }
}

/* Mobile Navigation */
.mobile-nav {
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 9999;
  overflow-y: auto;
  left: -260px;
  width: 260px;
  padding-top: 18px;
  background: #1f3548;
  transition: 0.4s;
}

.mobile-nav * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.mobile-nav a {
  display: block;
  position: relative;
  color: #e3f0fc;
  padding: 10px 20px;
  font-weight: 500;
}

.mobile-nav a:hover, .mobile-nav .active > a, .mobile-nav li:hover > a {
  color: #9eccf4;
  text-decoration: none;
}

.mobile-nav .drop-down > a:after {
  content: "\ea99";
  font-family: IcoFont;
  padding-left: 10px;
  position: absolute;
  right: 15px;
}

.mobile-nav .active.drop-down > a:after {
  content: "\eaa0";
}

.mobile-nav .drop-down > a {
  padding-right: 35px;
}

.mobile-nav .drop-down ul {
  display: none;
  overflow: hidden;
}

.mobile-nav .drop-down li {
  padding-left: 20px;
}

.mobile-nav-toggle {
  position: fixed;
  right: 15px;
  top: 20px;
  z-index: 9998;
  border: 0;
  background: none;
  font-size: 24px;
  transition: all 0.4s;
  outline: none !important;
  line-height: 1;
  cursor: pointer;
  text-align: right;
}

.mobile-nav-toggle i {
  color: #5c768d;
}

.mobile-nav-overly {
  width: 100%;
  height: 100%;
  z-index: 9997;
  top: 0;
  left: 0;
  position: fixed;
  background: #7fdbbbad;
  overflow: hidden;
  display: none;
}

.mobile-nav-active {
  overflow: hidden;
}

.mobile-nav-active .mobile-nav {
  left: 0;
}

.mobile-nav-active .mobile-nav-toggle i {
  color: #fff;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/


#hero {
  width: 100%;
  position: relative;
  padding: 50px 0 0 0;
}

#hero:before {
  content: "";
  background: url("../img/svg.png") ;
  background-size: cover;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#hero h1 {
  margin: 0 0 20px 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  color: #303c4e;
  text-transform: uppercase;
  font-family: sans-serif;
}

#hero h1 span:last-child {
  color: #303c4e;
  font-size: 70px;
  font-weight: 900;
  border-bottom: 4px solid #7fdbbb;
}

#hero h2 {
  color: #303c4e;
  margin-bottom: 40px;
  font-size: 24px;
}

#hero .btn-get-started {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 30px;
  border-radius: 20px;
  transition: 0.5s;
  color: #303c4e;
  background: #7fdbbb;
}

#hero .btn-get-started:hover {
  background: #303c4e;
  color: #fff;
  
}

#hero .animated {
  animation: up-down 2s ease-in-out infinite alternate-reverse both;
}

@media (min-width: 1024px) {
  #hero {
    background-attachment: fixed;
  }
}

@media (max-width: 991px) {
  #hero {
    padding-top: 80px;
  }
  #hero .animated {
    -webkit-animation: none;
    animation: none;
  }
  #hero .hero-img {
    text-align: center;
  }
  #hero .hero-img img {
    max-width: 50%;
  }
 
  #hero h1 {
    font-size: 28px;
    line-height: 32px;
    margin-bottom: 10px;
  }
  #hero h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
    padding-top: 15px;
  }
}

@media (max-width: 575px) {
  #hero .hero-img img {
    width: 80%;
  }
}

@-webkit-keyframes up-down {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}

@keyframes up-down {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}

#hero .social {
  font-size: 20px;
  color:#303c4e;
  float: right;
  transition:1s ;
  -webkit-transition:1s ;
  -moz-transition:1s ;
  -ms-transition:1s ;
  -o-transition:1s ;
}

#hero .social i{
  padding: 8px;
  border: 3px solid #303c4e;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  transition:1s ;
  -webkit-transition:1s ;
  -moz-transition:1s ;
  -ms-transition:1s ;
  -o-transition:1s ;
}
#hero .social i:hover{
  border: 3px solid #7fdbbb;  
  color:#303c4e;
  background: #7fdbbb;
  margin-top: 10px;
}
#hero .Phone,
h4{
  font-size: 25px;
  color:#303c4e;
  font-weight: 600;
}
#hero .Map{
  font-size: 25px;
  padding-bottom: 10px;
  color:#303c4e;
  font-weight: 600

}

#hero .Map i{
border-bottom: 2px solid #303c4e;
border-bottom: 2px solid #303c4e;
width: 20px;
}



.hero-waves {
  display: block;
  margin-top: 60px;
  width: 100%;
  height: 80px;
  z-index: 5;
  position: relative;
}

.wave1 use {
  -webkit-animation: move-forever1 10s linear infinite;
  animation: move-forever1 10s linear infinite;
  -webkit-animation-delay: -2s;
  animation-delay: -2s;
}

.wave2 use {
  -webkit-animation: move-forever2 8s linear infinite;
  animation: move-forever2 8s linear infinite;
  -webkit-animation-delay: -2s;
  animation-delay: -2s;
}

.wave3 use {
  -webkit-animation: move-forever3 6s linear infinite;
  animation: move-forever3 6s linear infinite;
  -webkit-animation-delay: -2s;
  animation-delay: -2s;
}

@-webkit-keyframes move-forever1 {
  0% {
    transform: translate(85px, 0%);
  }
  100% {
    transform: translate(-90px, 0%);
  }
}

@keyframes move-forever1 {
  0% {
    transform: translate(85px, 0%);
  }
  100% {
    transform: translate(-90px, 0%);
  }
}

@-webkit-keyframes move-forever2 {
  0% {
    transform: translate(-90px, 0%);
  }
  100% {
    transform: translate(85px, 0%);
  }
}

@keyframes move-forever2 {
  0% {
    transform: translate(-90px, 0%);
  }
  100% {
    transform: translate(85px, 0%);
  }
}

@-webkit-keyframes move-forever3 {
  0% {
    transform: translate(-90px, 0%);
  }
  100% {
    transform: translate(85px, 0%);
  }
}

@keyframes move-forever3 {
  0% {
    transform: translate(-90px, 0%);
  }
  100% {
    transform: translate(85px, 0%);
  }
}

